[submodule "OCA/apps-store"]
	path = OCA/apps-store
	url = git@github.com:OCA/apps-store.git
	branch = 15.0

[submodule "OCA/wms"]
	path = OCA/wms
	url = git@github.com:OCA/wms.git
	branch = 15.0

[submodule "OCA/website"]
	path = OCA/website
	url = git@github.com:OCA/website.git
	branch = 15.0

[submodule "OCA/website0"]
	path = OCA/website0
	url = git@github.com:OCA/website.git
	branch = 15.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 15.0
