[submodule "OCA/apps-store"]
	path = OCA/apps-store
	url = git@github.com:OCA/apps-store.git
	branch = 15.0

[submodule "OCA/wms"]
	path = OCA/wms
	url = git@github.com:OCA/wms.git
	branch = 15.0

[submodule "OCA/website"]
	path = OCA/website
	url = git@github.com:OCA/website.git
	branch = 15.0

[submodule "OCA/website0"]
	path = OCA/website0
	url = git@github.com:OCA/website.git
	branch = 15.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 15.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 15.0

[submodule "OCA/vertical-association"]
	path = OCA/vertical-association
	url = git@github.com:OCA/vertical-association.git
	branch = 15.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 15.0

[submodule "OCA/server-brand"]
	path = OCA/server-brand
	url = git@github.com:OCA/server-brand.git
	branch = 15.0

[submodule "OCA/server-backend"]
	path = OCA/server-backend
	url = git@github.com:OCA/server-backend.git
	branch = 15.0

[submodule "OCA/server-auth"]
	path = OCA/server-auth
	url = git@github.com:OCA/server-auth.git
	branch = 15.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 15.0

[submodule "OCA/rma"]
	path = OCA/rma
	url = git@github.com:OCA/rma.git
	branch = 15.0

[submodule "OCA/pms"]
	path = OCA/pms
	url = git@github.com:OCA/pms.git
	branch = 15.0

[submodule "OCA/queue"]
	path = OCA/queue
	url = git@github.com:OCA/queue.git
	branch = 15.0

[submodule "OCA/knowledge"]
	path = OCA/knowledge
	url = git@github.com:OCA/knowledge.git
	branch = 15.0
